# Files Git to ignore in my config dir
*.pid
*.xml
*.csr
*.crt
*.key
*.pem
*.old
location.txt
mqttssl
appdaemon/*.log*
custom_components/customizer/
custom_components/media_player/
www/*.png
www/custom_ui/floorplan/lib/
www/custom_ui/state-card-floorplan.html
www/harmony/
www/custom-lovelace
www/tracker-card.js
www/vertical-stack-in-card.js
appdaemon/compiled
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.spotify-token-cache
.uuid
gitupdate.sh
*.db-journal
config
lib
deps
tts
secrets.yaml
known_devices.yaml
.google_maps_location_sharing.cookies
*.conf
.homekit.state
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
!/.gitignore
.storage
*.config_entries
*.tmp
hadaemon
__pycache__/
entity_registry.yaml
.cloud/production_auth.json
configurator.py
